[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flask-sqlalchemy = "*"
twine = "*"
wheel = "*"
tox = "*"

[packages]
flask-file-upload = {editable = true,path = "."}
